body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.navbar {
  border-bottom: 0;
}

.hero {
  background: url(/images/circuit-board.svg) repeat, linear-gradient(155deg, #523993, var(--theme-primary));
  background-size: 150px 150px, 100%;
}

.hero__container {
  min-height: 25vh;
}

.slope_from_white:before{
  content: " ";
  display: block;
  width: 100%;
  height: 4vw;
}

.slope_from_white:before{
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDEwMCAxMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwb2x5Z29uIGZpbGw9IiNmZmYiIHBvaW50cz0iMCwwIDEwMCwwIDAsMTAiLz4KPC9zdmc+") no-repeat top;
  background-size: 100% 100%;
}

.panel + * {
  margin-top: 1.5em;
}

a.header-anchor {
  font-size: .9em;
  float: left;
  margin-left: -.87em;
  padding-right: .23em;
  margin-top: -.1em;
  opacity: 0;
  text-decoration: none;
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor,
h6:hover .header-anchor {
  opacity: 1;
}

.date_grid {
  margin-bottom: 3em;
}

.date_card {
  max-width: 30em;
}

@media (max-width:749px) {
  .dashboard .main {
    padding: 2em 0;
  }
}
